certifi==2021.10.8
chardet==4.0.0
contextlib2==0.6.0.post1
hexdump==3.3
idna==2.10
importlib-resources==3.3.1
libusb1==1.9.3
pathlib2==2.3.7.post1
pycrypto==2.6.1
requests==2.27.1
scandir==1.10.0
singledispatch==3.7.0
six==1.17.0
tqdm==4.64.1
typing==3.10.0.0
urllib3==1.26.20
zipp==1.2.0
